<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <div class="logo-image">
      <img src="/assets/apziva.png" style="max-width:12%;" alt="">
    </div>
  </a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-uppercase "> how it works </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">OUTCOMES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">MENTORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">COMPANIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  signin">Sign in</a>
      </li>
    </ul>
  </div>

</nav>
<div class="middleText">
  <h1>Testimonials</h1>
  <h5>
    Our Success is Measured by Yours
  </h5>
  <p>
    We’re constantly inspired and motivated by our residents' accomplishments. <br>
    See what they have to say about us.</p>
</div>
<div class="testimontials personBackground">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar1.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            At Apziva you are able to spread your wings and test your grit as you work on real world projects. They
            support autonomy in a collaborative setting while providing guidance to complete your project. This has
            given me wider perspective to the development process and has gotten me a step closer to my goals.
            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar2.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            Hands down this is the best program to gain experience. Lots of learning, great mentorship and such a
            wonderful supportive team, a truly rewarding experience. I feel so confident when I discuss my work at
            Apziva with my network and potential employers.​​
            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar3.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            I love Apziva AI Residency Program. It's a great opportunity to have hands-on experience on real-world
            machine learning problems and applications. In addition, you will get to collaborate and partner with
            amazing deep learning researchers.

            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar4.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            During the residency, you participate in all the phases of developing a product. You actively take a role in
            development and decision making, with the help of a mentor. Joining such a project in a professional
            company, it's an experience you would not get on your own easily.

            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar5.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            At Apziva you are able to spread your wings and test your grit as you work on real world projects. They
            support autonomy in a collaborative setting while providing guidance to complete your project. This has
            given me wider perspective to the development process and has gotten me a step closer to my goals.

            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar6.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            Unlike in an academic setting, the residency program allowed me to delve deep into real-world projects with
            the prime objective to derive business insights. It is simply amazing since it exposes you to the kind of
            work that one can only find in a professional environment. Apziva is a platform like no other.

            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar7.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>Unlike in an academic setting, the residency program allowed me to delve deep into real-world projects with
            the prime objective to derive business insights. It is simply amazing since it exposes you to the kind of
            work that one can only find in a professional environment. Apziva is a platform like no other.

            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar8.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            Hands down this is the best program to gain experience. Lots of learning, great mentorship and such a
            wonderful supportive team, a truly rewarding experience. I feel so confident when I discuss my work at
            Apziva with my network and potential employers.​​

            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md">
          <img src="../assets/avatar9.jpg" class="imgPerson" alt="">
        </div>
        <div class="col-md">
          <p>
            At Apziva you are able to spread your wings and test your grit as you work on real world projects. They
            support autonomy in a collaborative setting while providing guidance to complete your project. This has
            given me wider perspective to the development process and has gotten me a step closer to my goals.

            <br>
            <a href="apziva.com" class="link-dark names">Name Placeholder</a><br>
            Job Title
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
